.wrapper {
  padding: 20px;
  border: 1px solid black;
  text-align: center;
}

.close, .add {
  position: absolute;
  float: none;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 12px;
  cursor: pointer;
  z-index: 999999;
}

.add {
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  font-size: 20px;
}

.add:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}

.task-item {
  position: relative;
  margin-bottom: 10px;
}

.task-item p {
  margin-bottom: 0;
  line-height: 1;
}

input {
  max-width: 90%;
}

.task-item__new {
  position: relative;
}


.current-day {
  color: red;
}


.days {
  padding: 10px 20px;
  text-align: center;
  border: 1px solid blueviolet;
}

.old-time {
  color: red;
}


.drag-elem {
  font-size: 40px;
  line-height: 0.4;
}
