<div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-5">
      <div class="wrapper">
        <div class="text-right drag-elem" dnd-draggable [dragEnabled]="true">*</div>
        <div class="row task-item"
             *ngFor="let day of weekday[activeDay].tasks, let i = index"
             [class.old-time]="getTime(day, activeDay)">
          <div class="close" (click)="weekday[activeDay].tasks.splice(i, 1)">X</div>
          <div *ngIf="!day.edit"  [@fadeInOut] (click)="day.edit = true">
            <div class="col-sm-6">
              <p>{{day.time}}</p>
            </div>
            <div class="col-sm-6">
              <p>{{day.message}}</p>
            </div>
          </div>
          <div *ngIf="day.edit" (keyup.enter)="day.edit=false">
            <div class="col-sm-6">
              <input [(ngModel)]="day.time">
            </div>
            <div class="col-sm-6">
              <input [(ngModel)]="day.message">
            </div>
          </div>
        </div>
        <div class="row task-item__new">
          <div class="add" (click)="addTask()">
            +
          </div>
          <div class="col-sm-6 text-right">
            <input placeholder="Время" [(ngModel)]="timeToAdd">
          </div>
          <div class="col-sm-6">
            <input placeholder="Задача" [(ngModel)]="toDo" (keyup.enter)="addTask()">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class='days' dnd-droppable (onDropSuccess)="copyTasks(day)"
           *ngFor="let day of weekday, let i = index"
           (click)="activeDay = day.id"
           [class.current-day]="day.id === activeDay"
      >
        {{ day.name }}
      </div>
    </div>
  </div>
</div>

