<!--The content below is only a placeholder and can be replaced.-->
<div class="container text-center">
  <h1>
    To Do List
  </h1>
</div>
<div class="container">
  <app-weekday></app-weekday>
</div>
